@model IEnumerable<MeuCantinhoCriativo.ViewModels.HobbyViewModel>

<h1>Meus Hobbies</h1>

@if (Model == null || !Model.Any())
{
    <p>Você ainda não adicionou nenhum hobby. <a class="btn btn-primary" href="/Hobby/Create">Adicione um agora!</a></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hobby in Model)
            {
                <tr>
                    <td>@hobby.Nome</td>
                    <td>@hobby.descricao</td>
                    <td>
                        <a href="/Hobby/Edit/@hobby.Id" class="btn btn-secondary">Editar</a>
                        @if (hobby.descricao != null)
                        {
                            <a href="/Hobby/Details/@hobby.Id" class="btn btn-info">Detalhes</a>
                        }
                        else
                        {
                            <span class="btn btn-secondary">Detalhes</span>
                        }

                        <a href="/Hobby/Details/@hobby.Id" class="btn btn-info">Detalhes</a>
                        <a href="/Hobby/Delete/@hobby.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>       
    </table>
    <a href="/Hobby/Create" class="btn btn-primary">Adicionar Novo Hobby</a>
}   
